body {
  background-color: #3A3335;
  margin: 0 auto;
}

header {
  z-index: 10;
  width: 100%;
  position: fixed;
  background-color: #221D1E;
  border-bottom: 1px solid #221D1E;
  box-shadow: 0 1px 5px #211B1D;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: right;
  
}

.big {
  font-size: 500px;
}

li {
  width: 50px;
  display: inline-block;
  color: #221D1E;
  font-family: 'Prata', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.tl {
  text-align: justify;
  z-index: 11;
  transition-property: all;
  transition-duration: 500ms;
  opacity: 0.8;
  font-size: 40px;
  color: #221D1E;
  display: block;
  width: 200px;
  margin-top: -35px;
  position: fixed;
}

.tl:hover {
  font-size: 38px;
  width: 210px;
  opacity: 1;
}

.lic {
  transition-duration: 500ms;
  transition-property: all;
  display: inline-table;
  color: #EB5E55;
  padding: 0 5px;
  text-decoration: none;
}

.lic:hover {
  font-size: 20px;
  color: #FF1406;
  text-shadow: 2px 2px 2px #1C0F0E;
}

.nrpt {
  margin-left: 37.7%;
  padding: 5px 10px;
  display: inline-block;
  box-shadow: 2px 2px 4px #121816;;
  transition-property: all;
  transition-duration: 500ms;
  font-weight: normal;
  text-shadow: 0 0 10px #B0C2BD;
  font-family: "Prata";
  font-size: 50px;
  color: #C6D8D3;
  border: 2px solid #B0C2BD;
  border-radius: 15px;
  text-align: center;
  background: linear-gradient(0deg, rgba(23,14,18,0) 0%, rgba(176,195,189,0.2) 100%);
}

.nrpt:hover {
  margin-left: 39%;
  padding: 2px 5px;
  font-size: 45px;
  color: #A0D8C8;
  text-shadow: 0 0 4px #0C1814;
}

.dcc {
  transition-property: all;
  transition-duration: 500ms;
  margin-left: 38.8%;
  display: inline-block;
  padding: 5px 10px;
  font-size: 30px;
  font-family: "Ropa Sans";
  font-weight: 900;
  background-color: #4E5D94;
  color: white;
  border: 5px solid #7289DA;
  border-radius: 10px;
  box-shadow: 0 0 10px #7289DA;
}

.dcc:hover {
  margin-left: 37.7%;
  padding: 7px 12px;
  font-size: 32px;
}

.dcci {
  transition-property: all;
  transition-duration: 500ms;
  padding: -5px;
  width: 30px;
}

.dcci:hover {
  padding: -3px;
}

.ytc {
  transition-property: all;
  transition-duration: 500ms;
  margin-left: 38.8%;
  display: inline-block;
  padding: 5px 10px;
  font-size: 30px;
  font-family: "Ropa Sans";
  font-weight: 900;
  background-color: #D12122;
  color: white;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px #D12122;
}

.ytc:hover {
  margin-left: 37.7%;
  padding: 7px 12px;
  font-size: 32px;
}

.ytci {
  transition-property: all;
  transition-duration: 500ms;
  padding: -5px;
  width: 30px;
}

.ytci:hover {
  padding: 0;
}

.tpfp {
  transition-property: all;
  transition-duration: 500ms;
  margin-left: 47.5%;
  width: 100px;
}

.tpfp:hover {
  width: 150px;
  margin-left: 45%;
  margin-top: -2%;
}

/* Sidescroll disable */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
